automation/n8n-workflows/master-scheduler-current.json
{
    "updatedAt": "2026-03-14T19:40:38.276Z",
    "createdAt": "2026-03-11T19:40:56.081Z",
    "id": "PmTbyvW67XpVEv8b",
    "name": "Craftiloo Skill Scheduler",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 8 * * *"
                        }
                    ]
                }
            },
            "id": "trigger-market-intel",
            "name": "Daily 8AM: Market Intel",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                100
            ],
            "notes": "8:00 AM IST daily"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"daily-market-intel\"}",
                "options": {
                    "timeout": 1800000
                }
            },
            "id": "run-market-intel",
            "name": "Run: daily-market-intel",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                100
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-mi",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-market-intel",
            "name": "MI: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                100
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *daily-market-intel* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-market-intel",
            "name": "Alert: daily-market-intel",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                220
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "30 8 * * *"
                        }
                    ]
                }
            },
            "id": "trigger-ppc-health",
            "name": "Daily 8:30AM: PPC Health",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                380
            ],
            "notes": "8:30 AM IST daily"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"ppc-daily-health\"}",
                "options": {
                    "timeout": 1500000
                }
            },
            "id": "run-ppc-health",
            "name": "Run: ppc-daily-health",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                380
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-ph",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-ppc-health",
            "name": "PH: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                380
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *ppc-daily-health* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-ppc-health",
            "name": "Alert: ppc-daily-health",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                500
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 10 * * 0"
                        }
                    ]
                }
            },
            "id": "trigger-weekly-ppc",
            "name": "Sun 10AM: Weekly PPC",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                660
            ],
            "notes": "10:00 AM IST Sunday"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"weekly-ppc-analysis\"}",
                "options": {
                    "timeout": 3300000
                }
            },
            "id": "run-weekly-ppc",
            "name": "Run: weekly-ppc-analysis",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                660
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-wp",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-weekly-ppc",
            "name": "WP: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                660
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *weekly-ppc-analysis* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-weekly-ppc",
            "name": "Alert: weekly-ppc-analysis",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                780
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 12 * * 2"
                        }
                    ]
                }
            },
            "id": "trigger-tue-autonomous",
            "name": "Tue 12PM: Autonomous PPC",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                940
            ],
            "notes": "12:00 PM IST Tuesday \u2014 reads Tuesday chain output"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"ppc-agent-autonomous-tuesday\"}",
                "options": {
                    "timeout": 3600000
                }
            },
            "id": "run-tue-autonomous",
            "name": "Run: ppc-agent-autonomous-tuesday",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                940
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-ta",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-tue-autonomous",
            "name": "TA: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                940
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *ppc-agent-autonomous-tuesday* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-tue-autonomous",
            "name": "Alert: ppc-agent-autonomous-tuesday",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                1060
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * 4"
                        }
                    ]
                }
            },
            "id": "trigger-competitors",
            "name": "Thu 9AM: Competitors",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                1220
            ],
            "notes": "9:00 AM IST Thursday"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"competitor-price-serp-tracker\"}",
                "options": {
                    "timeout": 2400000
                }
            },
            "id": "run-competitors",
            "name": "Run: competitor-price-serp-tracker",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                1220
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-ct",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-competitors",
            "name": "CT: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                1220
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *competitor-price-serp-tracker* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-competitors",
            "name": "Alert: competitor-price-serp-tracker",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                1340
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 12 * * 5"
                        }
                    ]
                }
            },
            "id": "trigger-fri-autonomous",
            "name": "Fri 12PM: Autonomous PPC",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                1500
            ],
            "notes": "12:00 PM IST Friday \u2014 validates Tuesday actions"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"ppc-agent-autonomous-friday\"}",
                "options": {
                    "timeout": 2700000
                }
            },
            "id": "run-fri-autonomous",
            "name": "Run: ppc-agent-autonomous-friday",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                1500
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-fa",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-fri-autonomous",
            "name": "FA: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                1500
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *ppc-agent-autonomous-friday* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-fri-autonomous",
            "name": "Alert: ppc-agent-autonomous-friday",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                1620
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 9 * * 0"
                        }
                    ]
                }
            },
            "id": "trigger-ba-weekly",
            "name": "Sun 9AM: Brand Analytics",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                1780
            ],
            "notes": "9:00 AM IST Sunday"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"brand-analytics-weekly\"}",
                "options": {
                    "timeout": 2100000
                }
            },
            "id": "run-ba-weekly",
            "name": "Run: brand-analytics-weekly",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                1780
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-ba",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-ba-weekly",
            "name": "BA: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                1780
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *brand-analytics-weekly* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-ba-weekly",
            "name": "Alert: brand-analytics-weekly",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                1900
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 10 1 * *"
                        }
                    ]
                }
            },
            "id": "trigger-monthly",
            "name": "1st 10AM: Monthly Review",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                2060
            ],
            "notes": "10:00 AM IST 1st of month"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"ppc-monthly-review\"}",
                "options": {
                    "timeout": 2400000
                }
            },
            "id": "run-monthly",
            "name": "Run: ppc-monthly-review",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                2060
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-mr",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-monthly",
            "name": "MR: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                2060
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *ppc-monthly-review* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-monthly",
            "name": "Alert: ppc-monthly-review",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                2180
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {},
            "id": "done-success",
            "name": "Done",
            "type": "n8n-nodes-base.noOp",
            "typeVersion": 1,
            "position": [
                1020,
                100
            ]
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "0 10 * * 1"
                        }
                    ]
                }
            },
            "id": "trigger-ppc-tacos-optimizer",
            "name": "Mon 10:00AM: PPC Tacos Optimizer",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                2340
            ],
            "notes": "Mon 10:00AM IST Monday"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"ppc-tacos-optimizer\"}",
                "options": {
                    "timeout": 1800000
                }
            },
            "id": "run-ppc-tacos-optimizer",
            "name": "Run: ppc-tacos-optimizer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                2340
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-to",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-ppc-tacos-optimizer",
            "name": "TO: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                2340
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *ppc-tacos-optimizer* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-ppc-tacos-optimizer",
            "name": "Alert: ppc-tacos-optimizer",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                2460
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "35 10 * * 1"
                        }
                    ]
                }
            },
            "id": "trigger-ppc-portfolio-summary",
            "name": "Mon 10:35AM: PPC Portfolio Summary",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                2620
            ],
            "notes": "Mon 10:35AM IST Monday"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"ppc-portfolio-summary\"}",
                "options": {
                    "timeout": 1800000
                }
            },
            "id": "run-ppc-portfolio-summary",
            "name": "Run: ppc-portfolio-summary",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                2620
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-ps",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-ppc-portfolio-summary",
            "name": "PS: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                2620
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *ppc-portfolio-summary* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-ppc-portfolio-summary",
            "name": "Alert: ppc-portfolio-summary",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                2740
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "10 11 * * 1"
                        }
                    ]
                }
            },
            "id": "trigger-keyword-rank-optimizer",
            "name": "Mon 11:10AM: Keyword Rank Optimizer",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                2900
            ],
            "notes": "Mon 11:10AM IST Monday"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"keyword-rank-optimizer\"}",
                "options": {
                    "timeout": 1800000
                }
            },
            "id": "run-keyword-rank-optimizer",
            "name": "Run: keyword-rank-optimizer",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                2900
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-kr",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-keyword-rank-optimizer",
            "name": "KR: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                2900
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *keyword-rank-optimizer* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-keyword-rank-optimizer",
            "name": "Alert: keyword-rank-optimizer",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                3020
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "45 11 * * 1"
                        }
                    ]
                }
            },
            "id": "trigger-ppc-bid-recommender",
            "name": "Mon 11:45AM: PPC Bid Recommender",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                3180
            ],
            "notes": "Mon 11:45AM IST Monday"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"ppc-bid-recommender\"}",
                "options": {
                    "timeout": 1800000
                }
            },
            "id": "run-ppc-bid-recommender",
            "name": "Run: ppc-bid-recommender",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                3180
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-br",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-ppc-bid-recommender",
            "name": "BR: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                3180
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *ppc-bid-recommender* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-ppc-bid-recommender",
            "name": "Alert: ppc-bid-recommender",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                3300
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        },
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "cronExpression",
                            "expression": "20 12 * * 1"
                        }
                    ]
                }
            },
            "id": "trigger-ppc-search-term-harvester",
            "name": "Mon 12:20PM: PPC Search Term Harvester",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                240,
                3460
            ],
            "notes": "Mon 12:20PM IST Monday"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://127.0.0.1:5680/run",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\"skill\": \"ppc-search-term-harvester\"}",
                "options": {
                    "timeout": 1800000
                }
            },
            "id": "run-ppc-search-term-harvester",
            "name": "Run: ppc-search-term-harvester",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                500,
                3460
            ],
            "continueOnFail": true
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "c-st",
                            "leftValue": "={{ $json.exitCode }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                }
            },
            "id": "if-ppc-search-term-harvester",
            "name": "ST: Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.2,
            "position": [
                760,
                3460
            ]
        },
        {
            "parameters": {
                "select": "channel",
                "channelId": {
                    "__rl": true,
                    "value": "#claude-alerts",
                    "mode": "name"
                },
                "text": ":warning: *ppc-search-term-harvester* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                "otherOptions": {}
            },
            "id": "alert-ppc-search-term-harvester",
            "name": "Alert: ppc-search-term-harvester",
            "type": "n8n-nodes-base.slack",
            "typeVersion": 2.2,
            "position": [
                1020,
                3580
            ],
            "credentials": {
                "slackApi": {
                    "id": "70HStxb2Cc2FCmeX",
                    "name": "Slack account"
                }
            }
        }
    ],
    "connections": {
        "Daily 8AM: Market Intel": {
            "main": [
                [
                    {
                        "node": "Run: daily-market-intel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: daily-market-intel": {
            "main": [
                [
                    {
                        "node": "MI: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MI: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: daily-market-intel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Daily 8:30AM: PPC Health": {
            "main": [
                [
                    {
                        "node": "Run: ppc-daily-health",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: ppc-daily-health": {
            "main": [
                [
                    {
                        "node": "PH: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PH: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: ppc-daily-health",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: weekly-ppc-analysis": {
            "main": [
                [
                    {
                        "node": "WP: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "WP: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: weekly-ppc-analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tue 12PM: Autonomous PPC": {
            "main": [
                [
                    {
                        "node": "Run: ppc-agent-autonomous-tuesday",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: ppc-agent-autonomous-tuesday": {
            "main": [
                [
                    {
                        "node": "TA: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "TA: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: ppc-agent-autonomous-tuesday",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Thu 9AM: Competitors": {
            "main": [
                [
                    {
                        "node": "Run: competitor-price-serp-tracker",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: competitor-price-serp-tracker": {
            "main": [
                [
                    {
                        "node": "CT: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "CT: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: competitor-price-serp-tracker",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fri 12PM: Autonomous PPC": {
            "main": [
                [
                    {
                        "node": "Run: ppc-agent-autonomous-friday",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: ppc-agent-autonomous-friday": {
            "main": [
                [
                    {
                        "node": "FA: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FA: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: ppc-agent-autonomous-friday",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sun 9AM: Brand Analytics": {
            "main": [
                [
                    {
                        "node": "Run: brand-analytics-weekly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: brand-analytics-weekly": {
            "main": [
                [
                    {
                        "node": "BA: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BA: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: brand-analytics-weekly",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "1st 10AM: Monthly Review": {
            "main": [
                [
                    {
                        "node": "Run: ppc-monthly-review",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: ppc-monthly-review": {
            "main": [
                [
                    {
                        "node": "MR: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "MR: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: ppc-monthly-review",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Sun 10AM: Weekly PPC": {
            "main": [
                [
                    {
                        "node": "Run: weekly-ppc-analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mon 10:00AM: PPC Tacos Optimizer": {
            "main": [
                [
                    {
                        "node": "Run: ppc-tacos-optimizer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: ppc-tacos-optimizer": {
            "main": [
                [
                    {
                        "node": "TO: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "TO: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: ppc-tacos-optimizer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mon 10:35AM: PPC Portfolio Summary": {
            "main": [
                [
                    {
                        "node": "Run: ppc-portfolio-summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: ppc-portfolio-summary": {
            "main": [
                [
                    {
                        "node": "PS: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "PS: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: ppc-portfolio-summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mon 11:10AM: Keyword Rank Optimizer": {
            "main": [
                [
                    {
                        "node": "Run: keyword-rank-optimizer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: keyword-rank-optimizer": {
            "main": [
                [
                    {
                        "node": "KR: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "KR: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: keyword-rank-optimizer",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mon 11:45AM: PPC Bid Recommender": {
            "main": [
                [
                    {
                        "node": "Run: ppc-bid-recommender",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: ppc-bid-recommender": {
            "main": [
                [
                    {
                        "node": "BR: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "BR: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: ppc-bid-recommender",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Mon 12:20PM: PPC Search Term Harvester": {
            "main": [
                [
                    {
                        "node": "Run: ppc-search-term-harvester",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Run: ppc-search-term-harvester": {
            "main": [
                [
                    {
                        "node": "ST: Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "ST: Success?": {
            "main": [
                [
                    {
                        "node": "Done",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Alert: ppc-search-term-harvester",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1",
        "timezone": "Asia/Jerusalem",
        "callerPolicy": "workflowsFromSameOwner",
        "availableInMCP": false
    },
    "staticData": {
        "node:Daily 8AM: Market Intel": {
            "recurrenceRules": []
        },
        "node:Daily 8:30AM: PPC Health": {
            "recurrenceRules": []
        },
        "node:Mon 9AM: Weekly PPC Analysis": {
            "recurrenceRules": []
        },
        "node:Mon 10:30AM: Monday Pipeline": {
            "recurrenceRules": []
        },
        "node:Tue 12PM: PPC Agent Deep Dive": {
            "recurrenceRules": []
        },
        "node:Thu 9AM: Competitors": {
            "recurrenceRules": []
        },
        "node:Fri 12PM: PPC Agent Validation": {
            "recurrenceRules": []
        },
        "node:Sun 9AM: Brand Analytics": {
            "recurrenceRules": []
        },
        "node:1st 10AM: Monthly Review": {
            "recurrenceRules": []
        },
        "node:Mon 9AM: Weekly PPC": {
            "recurrenceRules": []
        },
        "node:Tue 12PM: Autonomous PPC": {
            "recurrenceRules": []
        },
        "node:Fri 12PM: Autonomous PPC": {
            "recurrenceRules": []
        },
        "node:Sun 10AM: Weekly PPC": {
            "recurrenceRules": []
        },
        "node:Mon 10:00AM: PPC Tacos Optimizer": {
            "recurrenceRules": []
        },
        "node:Mon 10:35AM: PPC Portfolio Summary": {
            "recurrenceRules": []
        },
        "node:Mon 11:10AM: Keyword Rank Optimizer": {
            "recurrenceRules": []
        },
        "node:Mon 11:45AM: PPC Bid Recommender": {
            "recurrenceRules": []
        },
        "node:Mon 12:20PM: PPC Search Term Harvester": {
            "recurrenceRules": []
        }
    },
    "meta": null,
    "pinData": null,
    "versionId": "dfcb13ee-e88d-4bd4-bbcd-3c342096af09",
    "activeVersionId": "dfcb13ee-e88d-4bd4-bbcd-3c342096af09",
    "versionCounter": 37,
    "triggerCount": 13,
    "shared": [
        {
            "updatedAt": "2026-03-11T19:40:56.081Z",
            "createdAt": "2026-03-11T19:40:56.081Z",
            "role": "workflow:owner",
            "workflowId": "PmTbyvW67XpVEv8b",
            "projectId": "qGlXlsRlAPlC3ah6",
            "project": {
                "updatedAt": "2026-03-11T14:03:57.254Z",
                "createdAt": "2026-03-11T13:49:19.800Z",
                "id": "qGlXlsRlAPlC3ah6",
                "name": "Yali Bar Tal <bartalyali@gmail.com>",
                "type": "personal",
                "icon": null,
                "description": null,
                "creatorId": "f8c733f6-312e-49f5-b95b-23ea34a4931c"
            }
        }
    ],
    "tags": [],
    "activeVersion": {
        "updatedAt": "2026-03-14T19:40:38.278Z",
        "createdAt": "2026-03-14T19:40:38.278Z",
        "versionId": "dfcb13ee-e88d-4bd4-bbcd-3c342096af09",
        "workflowId": "PmTbyvW67XpVEv8b",
        "nodes": [
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 8 * * *"
                            }
                        ]
                    }
                },
                "id": "trigger-market-intel",
                "name": "Daily 8AM: Market Intel",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    100
                ],
                "notes": "8:00 AM IST daily"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"daily-market-intel\"}",
                    "options": {
                        "timeout": 1800000
                    }
                },
                "id": "run-market-intel",
                "name": "Run: daily-market-intel",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    100
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-mi",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-market-intel",
                "name": "MI: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    100
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *daily-market-intel* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-market-intel",
                "name": "Alert: daily-market-intel",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    220
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "30 8 * * *"
                            }
                        ]
                    }
                },
                "id": "trigger-ppc-health",
                "name": "Daily 8:30AM: PPC Health",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    380
                ],
                "notes": "8:30 AM IST daily"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"ppc-daily-health\"}",
                    "options": {
                        "timeout": 1500000
                    }
                },
                "id": "run-ppc-health",
                "name": "Run: ppc-daily-health",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    380
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-ph",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-ppc-health",
                "name": "PH: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    380
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *ppc-daily-health* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-ppc-health",
                "name": "Alert: ppc-daily-health",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    500
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 10 * * 0"
                            }
                        ]
                    }
                },
                "id": "trigger-weekly-ppc",
                "name": "Sun 10AM: Weekly PPC",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    660
                ],
                "notes": "10:00 AM IST Sunday"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"weekly-ppc-analysis\"}",
                    "options": {
                        "timeout": 3300000
                    }
                },
                "id": "run-weekly-ppc",
                "name": "Run: weekly-ppc-analysis",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    660
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-wp",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-weekly-ppc",
                "name": "WP: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    660
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *weekly-ppc-analysis* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-weekly-ppc",
                "name": "Alert: weekly-ppc-analysis",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    780
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 12 * * 2"
                            }
                        ]
                    }
                },
                "id": "trigger-tue-autonomous",
                "name": "Tue 12PM: Autonomous PPC",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    940
                ],
                "notes": "12:00 PM IST Tuesday \u2014 reads Tuesday chain output"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"ppc-agent-autonomous-tuesday\"}",
                    "options": {
                        "timeout": 3600000
                    }
                },
                "id": "run-tue-autonomous",
                "name": "Run: ppc-agent-autonomous-tuesday",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    940
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-ta",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-tue-autonomous",
                "name": "TA: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    940
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *ppc-agent-autonomous-tuesday* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-tue-autonomous",
                "name": "Alert: ppc-agent-autonomous-tuesday",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    1060
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 9 * * 4"
                            }
                        ]
                    }
                },
                "id": "trigger-competitors",
                "name": "Thu 9AM: Competitors",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    1220
                ],
                "notes": "9:00 AM IST Thursday"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"competitor-price-serp-tracker\"}",
                    "options": {
                        "timeout": 2400000
                    }
                },
                "id": "run-competitors",
                "name": "Run: competitor-price-serp-tracker",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    1220
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-ct",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-competitors",
                "name": "CT: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    1220
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *competitor-price-serp-tracker* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-competitors",
                "name": "Alert: competitor-price-serp-tracker",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    1340
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 12 * * 5"
                            }
                        ]
                    }
                },
                "id": "trigger-fri-autonomous",
                "name": "Fri 12PM: Autonomous PPC",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    1500
                ],
                "notes": "12:00 PM IST Friday \u2014 validates Tuesday actions"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"ppc-agent-autonomous-friday\"}",
                    "options": {
                        "timeout": 2700000
                    }
                },
                "id": "run-fri-autonomous",
                "name": "Run: ppc-agent-autonomous-friday",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    1500
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-fa",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-fri-autonomous",
                "name": "FA: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    1500
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *ppc-agent-autonomous-friday* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-fri-autonomous",
                "name": "Alert: ppc-agent-autonomous-friday",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    1620
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 9 * * 0"
                            }
                        ]
                    }
                },
                "id": "trigger-ba-weekly",
                "name": "Sun 9AM: Brand Analytics",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    1780
                ],
                "notes": "9:00 AM IST Sunday"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"brand-analytics-weekly\"}",
                    "options": {
                        "timeout": 2100000
                    }
                },
                "id": "run-ba-weekly",
                "name": "Run: brand-analytics-weekly",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    1780
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-ba",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-ba-weekly",
                "name": "BA: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    1780
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *brand-analytics-weekly* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-ba-weekly",
                "name": "Alert: brand-analytics-weekly",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    1900
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 10 1 * *"
                            }
                        ]
                    }
                },
                "id": "trigger-monthly",
                "name": "1st 10AM: Monthly Review",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    2060
                ],
                "notes": "10:00 AM IST 1st of month"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"ppc-monthly-review\"}",
                    "options": {
                        "timeout": 2400000
                    }
                },
                "id": "run-monthly",
                "name": "Run: ppc-monthly-review",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    2060
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-mr",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-monthly",
                "name": "MR: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    2060
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *ppc-monthly-review* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-monthly",
                "name": "Alert: ppc-monthly-review",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    2180
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {},
                "id": "done-success",
                "name": "Done",
                "type": "n8n-nodes-base.noOp",
                "typeVersion": 1,
                "position": [
                    1020,
                    100
                ]
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "0 10 * * 1"
                            }
                        ]
                    }
                },
                "id": "trigger-ppc-tacos-optimizer",
                "name": "Mon 10:00AM: PPC Tacos Optimizer",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    2340
                ],
                "notes": "Mon 10:00AM IST Monday"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"ppc-tacos-optimizer\"}",
                    "options": {
                        "timeout": 1800000
                    }
                },
                "id": "run-ppc-tacos-optimizer",
                "name": "Run: ppc-tacos-optimizer",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    2340
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-to",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-ppc-tacos-optimizer",
                "name": "TO: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    2340
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *ppc-tacos-optimizer* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-ppc-tacos-optimizer",
                "name": "Alert: ppc-tacos-optimizer",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    2460
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "35 10 * * 1"
                            }
                        ]
                    }
                },
                "id": "trigger-ppc-portfolio-summary",
                "name": "Mon 10:35AM: PPC Portfolio Summary",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    2620
                ],
                "notes": "Mon 10:35AM IST Monday"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"ppc-portfolio-summary\"}",
                    "options": {
                        "timeout": 1800000
                    }
                },
                "id": "run-ppc-portfolio-summary",
                "name": "Run: ppc-portfolio-summary",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    2620
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-ps",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-ppc-portfolio-summary",
                "name": "PS: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    2620
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *ppc-portfolio-summary* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-ppc-portfolio-summary",
                "name": "Alert: ppc-portfolio-summary",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    2740
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "10 11 * * 1"
                            }
                        ]
                    }
                },
                "id": "trigger-keyword-rank-optimizer",
                "name": "Mon 11:10AM: Keyword Rank Optimizer",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    2900
                ],
                "notes": "Mon 11:10AM IST Monday"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"keyword-rank-optimizer\"}",
                    "options": {
                        "timeout": 1800000
                    }
                },
                "id": "run-keyword-rank-optimizer",
                "name": "Run: keyword-rank-optimizer",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    2900
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-kr",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-keyword-rank-optimizer",
                "name": "KR: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    2900
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *keyword-rank-optimizer* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-keyword-rank-optimizer",
                "name": "Alert: keyword-rank-optimizer",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    3020
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "45 11 * * 1"
                            }
                        ]
                    }
                },
                "id": "trigger-ppc-bid-recommender",
                "name": "Mon 11:45AM: PPC Bid Recommender",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    3180
                ],
                "notes": "Mon 11:45AM IST Monday"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"ppc-bid-recommender\"}",
                    "options": {
                        "timeout": 1800000
                    }
                },
                "id": "run-ppc-bid-recommender",
                "name": "Run: ppc-bid-recommender",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    3180
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-br",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-ppc-bid-recommender",
                "name": "BR: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    3180
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *ppc-bid-recommender* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-ppc-bid-recommender",
                "name": "Alert: ppc-bid-recommender",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    3300
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            },
            {
                "parameters": {
                    "rule": {
                        "interval": [
                            {
                                "field": "cronExpression",
                                "expression": "20 12 * * 1"
                            }
                        ]
                    }
                },
                "id": "trigger-ppc-search-term-harvester",
                "name": "Mon 12:20PM: PPC Search Term Harvester",
                "type": "n8n-nodes-base.scheduleTrigger",
                "typeVersion": 1.2,
                "position": [
                    240,
                    3460
                ],
                "notes": "Mon 12:20PM IST Monday"
            },
            {
                "parameters": {
                    "method": "POST",
                    "url": "http://127.0.0.1:5680/run",
                    "sendBody": true,
                    "specifyBody": "json",
                    "jsonBody": "{\"skill\": \"ppc-search-term-harvester\"}",
                    "options": {
                        "timeout": 1800000
                    }
                },
                "id": "run-ppc-search-term-harvester",
                "name": "Run: ppc-search-term-harvester",
                "type": "n8n-nodes-base.httpRequest",
                "typeVersion": 4.2,
                "position": [
                    500,
                    3460
                ],
                "continueOnFail": true
            },
            {
                "parameters": {
                    "conditions": {
                        "options": {
                            "caseSensitive": true,
                            "leftValue": "",
                            "typeValidation": "strict"
                        },
                        "conditions": [
                            {
                                "id": "c-st",
                                "leftValue": "={{ $json.exitCode }}",
                                "rightValue": 0,
                                "operator": {
                                    "type": "number",
                                    "operation": "equals"
                                }
                            }
                        ],
                        "combinator": "and"
                    }
                },
                "id": "if-ppc-search-term-harvester",
                "name": "ST: Success?",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                    760,
                    3460
                ]
            },
            {
                "parameters": {
                    "select": "channel",
                    "channelId": {
                        "__rl": true,
                        "value": "#claude-alerts",
                        "mode": "name"
                    },
                    "text": ":warning: *ppc-search-term-harvester* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}",
                    "otherOptions": {}
                },
                "id": "alert-ppc-search-term-harvester",
                "name": "Alert: ppc-search-term-harvester",
                "type": "n8n-nodes-base.slack",
                "typeVersion": 2.2,
                "position": [
                    1020,
                    3580
                ],
                "credentials": {
                    "slackApi": {
                        "id": "70HStxb2Cc2FCmeX",
                        "name": "Slack account"
                    }
                }
            }
        ],
        "connections": {
            "Daily 8AM: Market Intel": {
                "main": [
                    [
                        {
                            "node": "Run: daily-market-intel",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: daily-market-intel": {
                "main": [
                    [
                        {
                            "node": "MI: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "MI: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: daily-market-intel",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Daily 8:30AM: PPC Health": {
                "main": [
                    [
                        {
                            "node": "Run: ppc-daily-health",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: ppc-daily-health": {
                "main": [
                    [
                        {
                            "node": "PH: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "PH: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: ppc-daily-health",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: weekly-ppc-analysis": {
                "main": [
                    [
                        {
                            "node": "WP: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "WP: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: weekly-ppc-analysis",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Tue 12PM: Autonomous PPC": {
                "main": [
                    [
                        {
                            "node": "Run: ppc-agent-autonomous-tuesday",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: ppc-agent-autonomous-tuesday": {
                "main": [
                    [
                        {
                            "node": "TA: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "TA: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: ppc-agent-autonomous-tuesday",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Thu 9AM: Competitors": {
                "main": [
                    [
                        {
                            "node": "Run: competitor-price-serp-tracker",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: competitor-price-serp-tracker": {
                "main": [
                    [
                        {
                            "node": "CT: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "CT: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: competitor-price-serp-tracker",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Fri 12PM: Autonomous PPC": {
                "main": [
                    [
                        {
                            "node": "Run: ppc-agent-autonomous-friday",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: ppc-agent-autonomous-friday": {
                "main": [
                    [
                        {
                            "node": "FA: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "FA: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: ppc-agent-autonomous-friday",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Sun 9AM: Brand Analytics": {
                "main": [
                    [
                        {
                            "node": "Run: brand-analytics-weekly",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: brand-analytics-weekly": {
                "main": [
                    [
                        {
                            "node": "BA: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "BA: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: brand-analytics-weekly",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "1st 10AM: Monthly Review": {
                "main": [
                    [
                        {
                            "node": "Run: ppc-monthly-review",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: ppc-monthly-review": {
                "main": [
                    [
                        {
                            "node": "MR: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "MR: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: ppc-monthly-review",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Sun 10AM: Weekly PPC": {
                "main": [
                    [
                        {
                            "node": "Run: weekly-ppc-analysis",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Mon 10:00AM: PPC Tacos Optimizer": {
                "main": [
                    [
                        {
                            "node": "Run: ppc-tacos-optimizer",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: ppc-tacos-optimizer": {
                "main": [
                    [
                        {
                            "node": "TO: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "TO: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: ppc-tacos-optimizer",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Mon 10:35AM: PPC Portfolio Summary": {
                "main": [
                    [
                        {
                            "node": "Run: ppc-portfolio-summary",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: ppc-portfolio-summary": {
                "main": [
                    [
                        {
                            "node": "PS: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "PS: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: ppc-portfolio-summary",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Mon 11:10AM: Keyword Rank Optimizer": {
                "main": [
                    [
                        {
                            "node": "Run: keyword-rank-optimizer",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: keyword-rank-optimizer": {
                "main": [
                    [
                        {
                            "node": "KR: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "KR: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: keyword-rank-optimizer",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Mon 11:45AM: PPC Bid Recommender": {
                "main": [
                    [
                        {
                            "node": "Run: ppc-bid-recommender",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: ppc-bid-recommender": {
                "main": [
                    [
                        {
                            "node": "BR: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "BR: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: ppc-bid-recommender",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Mon 12:20PM: PPC Search Term Harvester": {
                "main": [
                    [
                        {
                            "node": "Run: ppc-search-term-harvester",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "Run: ppc-search-term-harvester": {
                "main": [
                    [
                        {
                            "node": "ST: Success?",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            },
            "ST: Success?": {
                "main": [
                    [
                        {
                            "node": "Done",
                            "type": "main",
                            "index": 0
                        }
                    ],
                    [
                        {
                            "node": "Alert: ppc-search-term-harvester",
                            "type": "main",
                            "index": 0
                        }
                    ]
                ]
            }
        },
        "authors": "Yali Bar Tal",
        "name": null,
        "description": null,
        "autosaved": false,
        "workflowPublishHistory": [
            {
                "createdAt": "2026-03-14T19:40:38.328Z",
                "id": 28,
                "workflowId": "PmTbyvW67XpVEv8b",
                "versionId": "dfcb13ee-e88d-4bd4-bbcd-3c342096af09",
                "event": "deactivated",
                "userId": "f8c733f6-312e-49f5-b95b-23ea34a4931c"
            },
            {
                "createdAt": "2026-03-14T19:40:38.363Z",
                "id": 29,
                "workflowId": "PmTbyvW67XpVEv8b",
                "versionId": "dfcb13ee-e88d-4bd4-bbcd-3c342096af09",
                "event": "activated",
                "userId": "f8c733f6-312e-49f5-b95b-23ea34a4931c"
            }
        ]
    }
}
