automation/n8n-workflows/master-scheduler.json
{
  "name": "Craftiloo Skill Scheduler",
  "nodes": [

    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }] } },
      "id": "trigger-market-intel", "name": "Daily 8AM: Market Intel",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [240, 100], "notes": "8:00 AM IST daily" },
    { "parameters": { "method": "POST", "url": "http://127.0.0.1:5680/run",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"skill\": \"daily-market-intel\"}",
        "options": { "timeout": 1800000 } },
      "id": "run-market-intel", "name": "Run: daily-market-intel",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [500, 100], "continueOnFail": true },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
        "conditions": [{ "id": "c-mi", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }],
        "combinator": "and" } },
      "id": "if-market-intel", "name": "MI: Success?",
      "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [760, 100] },
    { "parameters": { "select": "channel",
        "channelId": { "__rl": true, "value": "#claude-alerts", "mode": "name" },
        "text": ":warning: *daily-market-intel* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}", "otherOptions": {} },
      "id": "alert-market-intel", "name": "Alert: daily-market-intel",
      "type": "n8n-nodes-base.slack", "typeVersion": 2.2,
      "position": [1020, 220],
      "credentials": { "slackApi": { "id": "70HStxb2Cc2FCmeX", "name": "Slack account" } } },

    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "30 8 * * *" }] } },
      "id": "trigger-ppc-health", "name": "Daily 8:30AM: PPC Health",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [240, 380], "notes": "8:30 AM IST daily" },
    { "parameters": { "method": "POST", "url": "http://127.0.0.1:5680/run",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"skill\": \"ppc-daily-health\"}",
        "options": { "timeout": 1500000 } },
      "id": "run-ppc-health", "name": "Run: ppc-daily-health",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [500, 380], "continueOnFail": true },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
        "conditions": [{ "id": "c-ph", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }],
        "combinator": "and" } },
      "id": "if-ppc-health", "name": "PH: Success?",
      "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [760, 380] },
    { "parameters": { "select": "channel",
        "channelId": { "__rl": true, "value": "#claude-alerts", "mode": "name" },
        "text": ":warning: *ppc-daily-health* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}", "otherOptions": {} },
      "id": "alert-ppc-health", "name": "Alert: ppc-daily-health",
      "type": "n8n-nodes-base.slack", "typeVersion": 2.2,
      "position": [1020, 500],
      "credentials": { "slackApi": { "id": "70HStxb2Cc2FCmeX", "name": "Slack account" } } },

    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 1" }] } },
      "id": "trigger-weekly-ppc", "name": "Mon 9AM: Weekly PPC",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [240, 660], "notes": "9:00 AM IST Monday" },
    { "parameters": { "method": "POST", "url": "http://127.0.0.1:5680/run",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"skill\": \"weekly-ppc-analysis\"}",
        "options": { "timeout": 2100000 } },
      "id": "run-weekly-ppc", "name": "Run: weekly-ppc-analysis",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [500, 660], "continueOnFail": true },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
        "conditions": [{ "id": "c-wp", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }],
        "combinator": "and" } },
      "id": "if-weekly-ppc", "name": "WP: Success?",
      "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [760, 660] },
    { "parameters": { "select": "channel",
        "channelId": { "__rl": true, "value": "#claude-alerts", "mode": "name" },
        "text": ":warning: *weekly-ppc-analysis* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}", "otherOptions": {} },
      "id": "alert-weekly-ppc", "name": "Alert: weekly-ppc-analysis",
      "type": "n8n-nodes-base.slack", "typeVersion": 2.2,
      "position": [1020, 780],
      "credentials": { "slackApi": { "id": "70HStxb2Cc2FCmeX", "name": "Slack account" } } },

    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 12 * * 2" }] } },
      "id": "trigger-tue-autonomous", "name": "Tue 12PM: Autonomous PPC",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [240, 940], "notes": "12:00 PM IST Tuesday — reads Tuesday chain output" },
    { "parameters": { "method": "POST", "url": "http://127.0.0.1:5680/run",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"skill\": \"ppc-agent-autonomous-tuesday\"}",
        "options": { "timeout": 3600000 } },
      "id": "run-tue-autonomous", "name": "Run: ppc-agent-autonomous-tuesday",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [500, 940], "continueOnFail": true },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
        "conditions": [{ "id": "c-ta", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }],
        "combinator": "and" } },
      "id": "if-tue-autonomous", "name": "TA: Success?",
      "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [760, 940] },
    { "parameters": { "select": "channel",
        "channelId": { "__rl": true, "value": "#claude-alerts", "mode": "name" },
        "text": ":warning: *ppc-agent-autonomous-tuesday* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}", "otherOptions": {} },
      "id": "alert-tue-autonomous", "name": "Alert: ppc-agent-autonomous-tuesday",
      "type": "n8n-nodes-base.slack", "typeVersion": 2.2,
      "position": [1020, 1060],
      "credentials": { "slackApi": { "id": "70HStxb2Cc2FCmeX", "name": "Slack account" } } },

    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 4" }] } },
      "id": "trigger-competitors", "name": "Thu 9AM: Competitors",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [240, 1220], "notes": "9:00 AM IST Thursday" },
    { "parameters": { "method": "POST", "url": "http://127.0.0.1:5680/run",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"skill\": \"competitor-price-serp-tracker\"}",
        "options": { "timeout": 2400000 } },
      "id": "run-competitors", "name": "Run: competitor-price-serp-tracker",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [500, 1220], "continueOnFail": true },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
        "conditions": [{ "id": "c-ct", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }],
        "combinator": "and" } },
      "id": "if-competitors", "name": "CT: Success?",
      "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [760, 1220] },
    { "parameters": { "select": "channel",
        "channelId": { "__rl": true, "value": "#claude-alerts", "mode": "name" },
        "text": ":warning: *competitor-price-serp-tracker* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}", "otherOptions": {} },
      "id": "alert-competitors", "name": "Alert: competitor-price-serp-tracker",
      "type": "n8n-nodes-base.slack", "typeVersion": 2.2,
      "position": [1020, 1340],
      "credentials": { "slackApi": { "id": "70HStxb2Cc2FCmeX", "name": "Slack account" } } },

    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 12 * * 5" }] } },
      "id": "trigger-fri-autonomous", "name": "Fri 12PM: Autonomous PPC",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [240, 1500], "notes": "12:00 PM IST Friday — validates Tuesday actions" },
    { "parameters": { "method": "POST", "url": "http://127.0.0.1:5680/run",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"skill\": \"ppc-agent-autonomous-friday\"}",
        "options": { "timeout": 2700000 } },
      "id": "run-fri-autonomous", "name": "Run: ppc-agent-autonomous-friday",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [500, 1500], "continueOnFail": true },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
        "conditions": [{ "id": "c-fa", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }],
        "combinator": "and" } },
      "id": "if-fri-autonomous", "name": "FA: Success?",
      "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [760, 1500] },
    { "parameters": { "select": "channel",
        "channelId": { "__rl": true, "value": "#claude-alerts", "mode": "name" },
        "text": ":warning: *ppc-agent-autonomous-friday* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}", "otherOptions": {} },
      "id": "alert-fri-autonomous", "name": "Alert: ppc-agent-autonomous-friday",
      "type": "n8n-nodes-base.slack", "typeVersion": 2.2,
      "position": [1020, 1620],
      "credentials": { "slackApi": { "id": "70HStxb2Cc2FCmeX", "name": "Slack account" } } },

    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 9 * * 0" }] } },
      "id": "trigger-ba-weekly", "name": "Sun 9AM: Brand Analytics",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [240, 1780], "notes": "9:00 AM IST Sunday" },
    { "parameters": { "method": "POST", "url": "http://127.0.0.1:5680/run",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"skill\": \"brand-analytics-weekly\"}",
        "options": { "timeout": 2100000 } },
      "id": "run-ba-weekly", "name": "Run: brand-analytics-weekly",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [500, 1780], "continueOnFail": true },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
        "conditions": [{ "id": "c-ba", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }],
        "combinator": "and" } },
      "id": "if-ba-weekly", "name": "BA: Success?",
      "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [760, 1780] },
    { "parameters": { "select": "channel",
        "channelId": { "__rl": true, "value": "#claude-alerts", "mode": "name" },
        "text": ":warning: *brand-analytics-weekly* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}", "otherOptions": {} },
      "id": "alert-ba-weekly", "name": "Alert: brand-analytics-weekly",
      "type": "n8n-nodes-base.slack", "typeVersion": 2.2,
      "position": [1020, 1900],
      "credentials": { "slackApi": { "id": "70HStxb2Cc2FCmeX", "name": "Slack account" } } },

    { "parameters": { "rule": { "interval": [{ "field": "cronExpression", "expression": "0 10 1 * *" }] } },
      "id": "trigger-monthly", "name": "1st 10AM: Monthly Review",
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.2,
      "position": [240, 2060], "notes": "10:00 AM IST 1st of month" },
    { "parameters": { "method": "POST", "url": "http://127.0.0.1:5680/run",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "{\"skill\": \"ppc-monthly-review\"}",
        "options": { "timeout": 2400000 } },
      "id": "run-monthly", "name": "Run: ppc-monthly-review",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2,
      "position": [500, 2060], "continueOnFail": true },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
        "conditions": [{ "id": "c-mr", "leftValue": "={{ $json.exitCode }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }],
        "combinator": "and" } },
      "id": "if-monthly", "name": "MR: Success?",
      "type": "n8n-nodes-base.if", "typeVersion": 2.2,
      "position": [760, 2060] },
    { "parameters": { "select": "channel",
        "channelId": { "__rl": true, "value": "#claude-alerts", "mode": "name" },
        "text": ":warning: *ppc-monthly-review* failed\nExit: {{ $json.exitCode }} | {{ $now.toISO() }}", "otherOptions": {} },
      "id": "alert-monthly", "name": "Alert: ppc-monthly-review",
      "type": "n8n-nodes-base.slack", "typeVersion": 2.2,
      "position": [1020, 2180],
      "credentials": { "slackApi": { "id": "70HStxb2Cc2FCmeX", "name": "Slack account" } } },

    { "parameters": {}, "id": "done-success", "name": "Done",
      "type": "n8n-nodes-base.noOp", "typeVersion": 1,
      "position": [1020, 100] }
  ],
  "connections": {
    "Daily 8AM: Market Intel":       { "main": [[{"node": "Run: daily-market-intel", "type": "main", "index": 0}]] },
    "Run: daily-market-intel":       { "main": [[{"node": "MI: Success?", "type": "main", "index": 0}]] },
    "MI: Success?":                  { "main": [[{"node": "Done", "type": "main", "index": 0}], [{"node": "Alert: daily-market-intel", "type": "main", "index": 0}]] },

    "Daily 8:30AM: PPC Health":      { "main": [[{"node": "Run: ppc-daily-health", "type": "main", "index": 0}]] },
    "Run: ppc-daily-health":         { "main": [[{"node": "PH: Success?", "type": "main", "index": 0}]] },
    "PH: Success?":                  { "main": [[{"node": "Done", "type": "main", "index": 0}], [{"node": "Alert: ppc-daily-health", "type": "main", "index": 0}]] },

    "Mon 9AM: Weekly PPC":           { "main": [[{"node": "Run: weekly-ppc-analysis", "type": "main", "index": 0}]] },
    "Run: weekly-ppc-analysis":      { "main": [[{"node": "WP: Success?", "type": "main", "index": 0}]] },
    "WP: Success?":                  { "main": [[{"node": "Done", "type": "main", "index": 0}], [{"node": "Alert: weekly-ppc-analysis", "type": "main", "index": 0}]] },

    "Tue 12PM: Autonomous PPC":      { "main": [[{"node": "Run: ppc-agent-autonomous-tuesday", "type": "main", "index": 0}]] },
    "Run: ppc-agent-autonomous-tuesday": { "main": [[{"node": "TA: Success?", "type": "main", "index": 0}]] },
    "TA: Success?":                  { "main": [[{"node": "Done", "type": "main", "index": 0}], [{"node": "Alert: ppc-agent-autonomous-tuesday", "type": "main", "index": 0}]] },

    "Thu 9AM: Competitors":          { "main": [[{"node": "Run: competitor-price-serp-tracker", "type": "main", "index": 0}]] },
    "Run: competitor-price-serp-tracker": { "main": [[{"node": "CT: Success?", "type": "main", "index": 0}]] },
    "CT: Success?":                  { "main": [[{"node": "Done", "type": "main", "index": 0}], [{"node": "Alert: competitor-price-serp-tracker", "type": "main", "index": 0}]] },

    "Fri 12PM: Autonomous PPC":      { "main": [[{"node": "Run: ppc-agent-autonomous-friday", "type": "main", "index": 0}]] },
    "Run: ppc-agent-autonomous-friday": { "main": [[{"node": "FA: Success?", "type": "main", "index": 0}]] },
    "FA: Success?":                  { "main": [[{"node": "Done", "type": "main", "index": 0}], [{"node": "Alert: ppc-agent-autonomous-friday", "type": "main", "index": 0}]] },

    "Sun 9AM: Brand Analytics":      { "main": [[{"node": "Run: brand-analytics-weekly", "type": "main", "index": 0}]] },
    "Run: brand-analytics-weekly":   { "main": [[{"node": "BA: Success?", "type": "main", "index": 0}]] },
    "BA: Success?":                  { "main": [[{"node": "Done", "type": "main", "index": 0}], [{"node": "Alert: brand-analytics-weekly", "type": "main", "index": 0}]] },

    "1st 10AM: Monthly Review":      { "main": [[{"node": "Run: ppc-monthly-review", "type": "main", "index": 0}]] },
    "Run: ppc-monthly-review":       { "main": [[{"node": "MR: Success?", "type": "main", "index": 0}]] },
    "MR: Success?":                  { "main": [[{"node": "Done", "type": "main", "index": 0}], [{"node": "Alert: ppc-monthly-review", "type": "main", "index": 0}]] }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
