automation/n8n-workflows/master-scheduler.json
{
  "name": "Craftiloo Skill Scheduler",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "trigger-daily-market-intel",
      "name": "Daily 8AM: Market Intel",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        100
      ],
      "notes": "8:00 AM IST (timezone: Asia/Jerusalem)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5680/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"skill\": \"daily-market-intel\"}",
        "options": {
          "timeout": 1800000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "exec-daily-market-intel",
      "name": "Run: daily-market-intel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-exit-market-intel",
              "leftValue": "={{ $json.body.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-market-intel",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        100
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * *"
            }
          ]
        }
      },
      "id": "trigger-daily-ppc-health",
      "name": "Daily 8:30AM: PPC Health",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        340
      ],
      "notes": "8:30 AM IST (timezone: Asia/Jerusalem)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5680/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"skill\": \"ppc-daily-health\"}",
        "options": {
          "timeout": 1500000,
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "exec-daily-ppc-health",
      "name": "Run: ppc-daily-health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-exit-ppc-health",
              "leftValue": "={{ $json.body.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-ppc-health",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        340
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#claude-alerts",
          "mode": "name"
        },
        "text": "=:warning: *Skill Failed* \u2014 {{ $('Run: ' + $input.first().json.skill || 'unknown').params.command }}\\nExit code: {{ $json.exitCode }}\\nTime: {{ $now.toISO() }}\\nCheck n8n executions or server logs for details.",
        "otherOptions": {}
      },
      "id": "slack-alert-failure",
      "name": "Slack: Alert Failure",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        960,
        940
      ],
      "credentials": {
        "slackApi": {
          "id": "70HStxb2Cc2FCmeX",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {},
      "id": "done-success",
      "name": "Done (Success)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        960,
        100
      ]
    }
  ],
  "connections": {
    "Daily 8AM: Market Intel": {
      "main": [
        [
          {
            "node": "Run: daily-market-intel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run: daily-market-intel": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 8:30AM: PPC Health": {
      "main": [
        [
          {
            "node": "Run: ppc-daily-health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run: ppc-daily-health": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Done (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack: Alert Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Jerusalem",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
